In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 987.4/987.4 kB 13.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for PyDrive (setup.py) ... done
The following additional packages will be installed:
  libxtst6 openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra fonts-nanum
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  libxtst6 openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 3 newly installed, 0 to remove and 35 not upgraded.
Need to get 39.6 MB of archives.
After this operation, 144 MB of additional disk space will be used.
Selecting previously unselected package libxtst6:amd64.
(Reading database ... 126435 files and directories currently installed.)
Preparing to unpack .../libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../openjdk-8-jre-headless_8u462-ga~us1-0ubuntu2~22.04.2_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u462-ga~us1-0ubuntu2~22.04.2) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u462-ga~us1-0ubuntu2~22.04.2_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u462-ga~us1-0ubuntu2~22.04.2) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up openjdk-8-jre-headless:amd64 (8u462-ga~us1-0ubuntu2~22.04.2) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u462-ga~us1-0ubuntu2~22.04.2) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().set("spark.ui.port", "4050")

In [ ]:
import pyspark
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.1
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 1.8.0_462
Branch HEAD
Compiled by user heartsavior on 2024-02-15T11:24:58Z
Revision fd86f85e181fc2dc0f50a096855acf83a6cc5d9c
Url https://github.com/apache/spark
Type --help for more information.

In [ ]:
from google.colab import files
files.upload()

Saving a_spark.txt to a_spark (1).txt

{'a_spark (1).txt': b'spark is fun\r\nfun with spark\r\nwe are learning spark'}

In [ ]:
a = spark.sparkContext.textFile('a_spark.txt')

In [ ]:
a.collect()

['spark is fun', 'fun with spark', 'we are learning spark']

In [ ]:
a.collect()

['spark is fun', 'fun with spark', 'we are learning spark']

In [ ]:
b= a.flatMap(lambda x:x.split(" "))
b.collect()

['spark',
 'is',
 'fun',
 'fun',
 'with',
 'spark',
 'we',
 'are',
 'learning',
 'spark']

In [ ]:
c= b.map(lambda x:(x,1))
c.collect()

[('spark', 1),
 ('is', 1),
 ('fun', 1),
 ('fun', 1),
 ('with', 1),
 ('spark', 1),
 ('we', 1),
 ('are', 1),
 ('learning', 1),
 ('spark', 1)]

In [ ]:
d = c.reduceByKey(lambda a,b:a+b) #here we are checking how many time a key is repeatedd
d.collect()

[('fun', 2),
 ('with', 1),
 ('are', 1),
 ('learning', 1),
 ('spark', 3),
 ('is', 1),
 ('we', 1)]

# Data Frames Exercise

In [ ]:
dataset = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]

In [ ]:
print(dataset)

[('James', 'Sales', 3000), ('Michael', 'Sales', 4600), ('Robert', 'Sales', 4100), ('Maria', 'Finance', 3000), ('James', 'Sales', 3000), ('Scott', 'Finance', 3300), ('Jen', 'Finance', 3900), ('Jeff', 'Marketing', 3000), ('Kumar', 'Marketing', 2000), ('Saif', 'Sales', 4100)]

In [ ]:
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = dataset, schema = columns)
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
df.count()

10

In [ ]:
len(df.columns)

3

In [ ]:
distinctDF = df.distinct()
distinctDF.show()
distinctDF.count()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|      Michael|     Sales|  4600|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|          Jen|   Finance|  3900|
|        Scott|   Finance|  3300|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

9

The dustuct remove gives only distinct

In the context of data manipulation (specifically with libraries like Apache Spark), distinct() drops duplicate rows based on the entire row's contents, while dropDuplicates() offers more flexibility by allowing you to specify which columns to consider when identifying duplicates. The key difference is that distinct() is limited to the entire row, whereas dropDuplicates() can be more targeted, allowing you to remove duplicates based on a subset of columns and still retain all columns from the original DataFrame.

In [ ]:
dropDisDF = df.dropDuplicates(["department","salary"])
dropDisDF.show()
dropDisDF.count()

# it takes the first row and remove the other duplicates

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

8

In [ ]:
df.orderBy("department").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Scott|   Finance|  3300|
|        Maria|   Finance|  3000|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|        James|     Sales|  3000|
|         Saif|     Sales|  4100|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        James|     Sales|  3000|
+-------------+----------+------+

In [ ]:
df.select("employee_name").show()

+-------------+
|employee_name|
+-------------+
|        James|
|      Michael|
|       Robert|
|        Maria|
|        James|
|        Scott|
|          Jen|
|         Jeff|
|        Kumar|
|         Saif|
+-------------+

In [ ]:
df.select("employee_name","salary").show()

+-------------+------+
|employee_name|salary|
+-------------+------+
|        James|  3000|
|      Michael|  4600|
|       Robert|  4100|
|        Maria|  3000|
|        James|  3000|
|        Scott|  3300|
|          Jen|  3900|
|         Jeff|  3000|
|        Kumar|  2000|
|         Saif|  4100|
+-------------+------+

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df2 = df.withColumn("salary",col("salary").cast("Integer"))
df2.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
df3 = df.withColumn("salary",col("salary")*100)
df3.show()

In [ ]:
df4 = df.withColumn("CopiedColumn",col("salary")* 2)
df4.show()

+-------------+----------+------+------------+
|employee_name|department|salary|CopiedColumn|
+-------------+----------+------+------------+
|        James|     Sales|  3000|        6000|
|      Michael|     Sales|  4600|        9200|
|       Robert|     Sales|  4100|        8200|
|        Maria|   Finance|  3000|        6000|
|        James|     Sales|  3000|        6000|
|        Scott|   Finance|  3300|        6600|
|          Jen|   Finance|  3900|        7800|
|         Jeff| Marketing|  3000|        6000|
|        Kumar| Marketing|  2000|        4000|
|         Saif|     Sales|  4100|        8200|
+-------------+----------+------+------------+

In [ ]:
df5 = df.withColumn("Country", lit("USA"))
df5.show()

+-------------+----------+------+-------+
|employee_name|department|salary|Country|
+-------------+----------+------+-------+
|        James|     Sales|  3000|    USA|
|      Michael|     Sales|  4600|    USA|
|       Robert|     Sales|  4100|    USA|
|        Maria|   Finance|  3000|    USA|
|        James|     Sales|  3000|    USA|
|        Scott|   Finance|  3300|    USA|
|          Jen|   Finance|  3900|    USA|
|         Jeff| Marketing|  3000|    USA|
|        Kumar| Marketing|  2000|    USA|
|         Saif|     Sales|  4100|    USA|
+-------------+----------+------+-------+

In [ ]:

df4.drop("CopiedColumn").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
df.withColumnRenamed("employee_name","emp_name").printSchema()

root
 |-- emp_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

In [ ]:
df2 = df.withColumnRenamed("dob","DateOfBirth")

df2 = df.withColumnRenamed("department","dept").withColumnRenamed("salary","salary_amount")
df2.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary_amount: long (nullable = true)

In [ ]:
df.filter( (df.department == "Sales") & (df.employee_name  == "James") ).show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|        James|     Sales|  3000|
+-------------+----------+------+

In [ ]:
df.groupBy("department").sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|      18800|
|   Finance|      10200|
| Marketing|       5000|
+----------+-----------+

In [14]:
emp = [(1,"Smith",-1,"2018","10","M",3000),
    (2,"Rose",1,"2010","20","M",4000),
    (3,"Williams",1,"2010","10","M",1000),
    (4,"Jones",2,"2005","10","F",2000),
    (5,"Brown",2,"2010","40","",-1),
      (6,"Brown",2,"2010","50","",-1)
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [15]:
df.createOrReplaceTempView("EMP")
spark.sql("Select employee_name, department, salary from EMP ORDER BY DEPARTMENT asc").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Scott|   Finance|  3300|
|        Maria|   Finance|  3000|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|        James|     Sales|  3000|
|         Saif|     Sales|  4100|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        James|     Sales|  3000|
+-------------+----------+------+

In [22]:


from pyspark.sql.functions import *

df.select(approx_count_distinct("salary")).show()

df.select(collect_set("salary")).collect()

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            6|
+-----------------------------+

[Row(collect_set(salary)=[4600, 3000, 3900, 4100, 3300, 2000])]

In [21]:

df.select(collect_list("salary")).collect()

[Row(collect_list(salary)=[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100])]

In [23]:

df.select(sum("salary")).collect()

[Row(sum(salary)=34000)]

In [24]:

df.select(sum_distinct("salary")).collect()

[Row(sum(DISTINCT salary)=20900)]